.row {
    display: flex;
    height: 50vh;
    position: center;
    overflow: visible;
    border: 5px dashed #f7a239;
    
}

.title {
    text-align: center;
}

.column {
    display: flex;
}

.img {
    height: auto;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

  
    border: 5px dashed rgba(114, 186, 94, 0.35);
    /* height: 100vh; */
    background-color: rgba(114, 186, 94, 0.05);
}
.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.txtcontainer {
    border: 5px dashed rgba(114, 186, 94, 0.35);
}

.stick {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 75vw;
    align-self: flex-end;
    width: 25vw;
    height: 25vh;
    border: 5px dashed rgba(114, 186, 94, 0.35);
}