/* 
    TODO: animations that vertically load in lines 
    of various lengths with different colors on load in
    to home page... possibly lines going down with a 
    randomized alpha 

    TODO: make the kon girls show up from underneath the
    splash screen

    TODO: Make navbar nicer, possibly fixed on top

    TODO: make store page usable

    TODO: page animation transitions -> diagonal lines of 
    various lengths

    TODO: change fonts and make the website prettier
*/
.row {
  display: flex;
  /* height: auto; */
  width: 60vw;
  /* justify-content: center; */
  margin: 0 auto;
  overflow: visible;
  border: 5px dashed #f7a239;
  /* z-index: 10; */
  /* padding: 50px; */

  /* display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 100px);   */
}

.title {
  text-align: center;
  padding: 20px;
}

.body {
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
  /* position: relative; */
  /* padding: 0 0 150px; */
}

.body header {
  padding: 20px;
}

.column {
  display: flex;
  object-fit: cover;
  cursor: pointer;
  /* z-index: 10; */
  /* animation: fade 10s 4s forwards; */
  /* border: 5px dashed #f7a239; */
}

.img {
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */

  border: 5px dashed rgba(114, 186, 94, 0.35);
  /* height: 100vh; */
  background-color: rgba(114, 186, 94, 0.05);
}
.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /* animation: shake 3000ms infinite; */
  z-index: 9;
}

.txtcontainer {
  border: 5px dashed rgba(114, 186, 94, 0.35);
  align-self: flex-start;
  margin-right: auto;
  /* justify-content: space-between; */
}

.stick {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  width: 25vw;
  height: 25vh;
  border: 5px dashed rgba(114, 186, 94, 0.35);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
  max-width: 75vw;
  margin: auto;
  animation: up 4000ms ease 4s;
  z-index: 10;
  /* height: -100px; */
  /* position: sticky;
    position: -webkit-sticky; */
  /* position: fixed; */
  /* top: 0; */
  /* display: flex; */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  /* display: inline; */
}

.footer-pic {
  padding: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover,
.footer-nav:hover,
.footer_pic:hover,
.dropbtn {
  background-color: purple;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content #mio:hover {
  background-color: lightskyblue;
}

.dropdown-content #ritsu:hover {
  background-color: lightgreen;
}

.dropdown-content #mugi:hover {
  background-color: khaki;
}

.dropdown-content #azusa:hover {
  background-color: lightpink;
}

.dropdown-content #yui:hover {
  background-color: plum;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: pink;
}

.logo {
  /* height: auto; */
  /* width: auto; */
  max-height: 20;
  max-width: 20;
  /* float: left; */
}

/* .band-name {

} */

.main-footer {
  background-color: pink;
  color: white;
  /* max-height: 75px; */
  /* padding: 0.25em 0; */
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}
.index-footer {
  background-color: pink;
  color: white;
  /* max-height: 75px; */
  /* padding: 0.25em 0; */
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  bottom: 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.hidden {
  opacity: 0;
}

#Mio {
  animation: up 2000ms ease 4s;
  /* z-index: 0; */
}

#Ritsu {
  animation: down 1500ms ease 4s;
}

#Tsumugi {
  animation: up 2000ms ease 4s;
}

#Azusa {
  animation: down 2500ms ease 4s;
}

#Yui {
  animation: down 3000ms ease 4s;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 4;
  /* animation: fade 5s 4s forwards; */
  /* background: green; */
}

/* .fadeOut {
  animation: fade 10s 4s forwards;
} */

.splash.display-none {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  /* z-index: -100; */
  /* opacity: 0; */
  z-index: -1;
  /* animation: opacity 10s 4s forwards; */
}
/* .column:hover #Mio {
  animation: shake 3000ms;
}  */

.line1 {
  /* display: flex; */
  /* width: 400vw; */
  height: 20vh;
  background: lightblue;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  left: -100vw;
  /* transform: translatex(100vw) */
  /* top: 0; */
  /* left: -400vw; */
  position: relative;
  z-index: -1;
  /* top: 0 */
  animation: right 2000ms ease forwards;
}

.line2 {
  /* width: 400vw; */
  height: 20vh;
  background: lightgreen;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  right: -100vw;
  /* top: 0vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -10;
  animation: left 2000ms ease 500ms forwards;
}

.line3 {
  /* width: 400vw; */
  height: 20vh;
  background: khaki;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  left: -100vw;
  /* bottom: 0vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -1;
  animation: right 2000ms ease 1000ms forwards;
}
.line4 {
  /* width: 400vw; */
  height: 20vh;
  background: lightpink;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  right: -100vw;
  /* bottom: -60vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -1;
  animation: left 2000ms ease 1500ms forwards;
}
.line5 {
  /* width: 400vw; */
  height: 20vh;
  background: plum;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  left: -100vw;
  /* bottom: 0vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -1;
  animation: right 2000ms ease 2000ms forwards;
}

/* .shake {
  animation: shake 1s infinite;
} */

@keyframes up {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes down {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  /* 0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  } */
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  /* 99% {
    opacity: 0;
  } */
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes right {
  0% {
    transform: translatex(0vw);
  }
  /* 50%      { transform: translatex(20px) translatey(20px); } */
  /* 50% {
    transform: translatex(100vw);
  } */
  100% {
    transform: translatex(100vw);
    /* transform: translatey(100vh); */
  }
}

@keyframes left {
  0% {
    transform: translatex(0vw);
  }
  /* 50%      { transform: translatex(20px) translatey(20px); } */
  /* 50% {
    transform: translatex(-100vw);
  } */
  100% {
    transform: translatex(-100vw);
    /* transform: translatey(100vh); */
  }
}
