/* 
    TODO: Make navbar nicer

    TODO: make store page usable

    TODO: change fonts and make the website prettier

    TODO: add button on righthand side to bring user back to top

*/
:root {
  --animation-duration: 250ms;
}

.row {
  display: flex;
  height: auto;
  width: 60vw;
  /* justify-content: center; */
  margin: 0 auto;
  overflow: visible;
  justify-content: center;
  align-content: center;
  background: transparent;
  /* position: fixed; */
  animation: borderWipe 2000ms ease 1.5s forwards;
  /* border: 5px dashed #f7a239; */
  /* z-index: 10; */
  /* padding: 50px; */

  /* display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 100px);   */
}

.total-container {
  padding: 20px;
  text-align: center;
}

.shop-row {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  max-width: 70vw;
  height: auto;
  left: 1vw;
  position: relative;
  /* text-align: center; */
  /* border: 5px solid black; */
}

.shop-row-item {
  display: flex;
  justify-content: space-evenly;
  max-width: 45vw;
  height: auto;
  margin: auto;
  padding: 10px;
  /* border: 5px solid black; */
}

.title {
  text-align: center;
  color: white;
  padding: 10px;
}

#index-title {
  animation: fadeIn 2000ms ease 0.99s;
}

.otherside {
  right: 1000px;
}
.h2-title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px dashed rgba(114, 186, 94, 1); */
  /* width: 100%; */
  /* margin: 0; */
}

.button {
  max-height: 50px;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  margin: auto;
  left: 50px;
}

.body {
  max-width: 100%;
  overflow-x: hidden;

  margin: 0;
}

.page-transition {
  animation: fadeUp 1s 1s;
}

.body header {
  padding: 20px;
}

.index {
  overflow-y: hidden;
}

.column {
  display: flex;
  object-fit: cover;
  cursor: pointer;
}

.img {
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 75vw;
  margin: auto;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.25);
  border: 5px solid rgba(218, 178, 49, 1);
  z-index: 4;
}

.section-container {
  margin: 0 auto;
  max-width: 75vw;
  border: 5px solid rgba(218, 178, 49, 1);
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.cart-title {
  margin: auto;
  text-align: center;
}

.shop-item {
  margin: 30px;
}

.shop-item-image {
  height: auto;
  width: 250px;
  max-height: 250px;
  max-width: 100%;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  align-items: center;
  margin: auto;
  text-align: center;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
}
.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.15
  ); /* (115% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /* animation: shake 3000ms infinite; */
  z-index: 9;
}

.txtcontainer {
  /* border: 5px solid rgba(114, 186, 94, 0.35); */
  align-self: flex-start;
  margin-right: auto;
  background: white;
  align-content: center;
  /* opacity: 0.5; */
  /* justify-content: space-between; */
}

.stick {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  height: 300px;
  width:100%;
/* max-width: 5vw; */
  /* max-width: 50px; */
  /* height: 25vh; */
  /* max-width: auto; */
  /* max-height: auto; */
  /* border: 5px dashed rgba(114, 186, 94, 0.35); */
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  border-radius: 20px;
  border: 5px solid plum;
  max-width: 75vw;
  margin: auto;
  z-index: 100;
  /* height: -100px; */
  /* position: sticky;
    position: -webkit-sticky; */
  /* position: fixed; */
  /* top: 0; */
  /* display: flex; */
}

.index-navbar {
  animation: up 2s ease 0.99s;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  float: left;
  overflow: hidden;
  /* display: inline; */
}

.footer-pic {
  padding: 10px;
  width: auto;
  height: 30px;
  min-height: 15px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover,
.footer-nav:hover,
.footer_pic:hover,
.dropbtn {
  background-color: rgba(255, 251, 251, 0.25);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content #mio:hover {
  background-color: lightskyblue;
}

.dropdown-content #ritsu:hover {
  background-color: lightgreen;
}

.dropdown-content #mugi:hover {
  background-color: khaki;
}

.dropdown-content #azusa:hover {
  background-color: lightpink;
}

.dropdown-content #yui:hover {
  background-color: plum;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: plum;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.logo {
  /* height: auto; */
  /* width: auto; */
  max-height: 20;
  max-width: 20;
  /* float: left; */
}

.input-box {
  width: 50px;
  height: 50px;
  max-width: auto;
  margin: auto;
}

.main-footer {
  background-color: pink;
  color: white;
  /* max-height: 75px; */
  /* padding: 0.25em 0; */
  position: relative;
  /* bottom: 0; */
  width: 100%;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  /* border: 5px dashed #f7a239; */
}
.index-footer {
  background-color: pink;
  color: white;
  /* max-height: 75px; */
  /* padding: 0.25em 0; */
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  bottom: 0;
  left: 0;
  /* height: 5vh; */
  /* border: 5px dashed #f7a239; */
}

.main-footer-container {
  display: flex;
  align-items: center;
  /* border: 5px dashed green; */
  height: 5vh;
}

.cart-image {
  width: 100px;
  align-items: center;
  position: relative;
  /* border: 5px solid blue; */
  /* margin: 0; */
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
  /* border: 5px dashed blue; */
}

/* .button {
  
} */

.hidden {
  opacity: 0;
}

#Mio {
  animation: up 1s ease 0.99s;
  /* z-index: 0; */
}

#Ritsu {
  animation: down 1s ease 0.99s;
}

#Tsumugi {
  animation: up 1s ease 0.99s;
}

#Azusa {
  animation: down 1s ease 0.99s;
}

#Yui {
  animation: down 1s ease 0.99s;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1;
  /* animation: fade 5s 4s forwards; */
  /* background: green; */
}

/* .fadeOut {
  animation: fade 10s 4s forwards;
} */

.splash.display-none {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  /* z-index: -100; */
  /* opacity: 0; */
  z-index: -1;
  /* animation: opacity 10s 4s forwards; */
}
/* .column:hover #Mio {
  animation: shake 3000ms;
}  */

.line1 {
  /* display: flex; */
  /* width: 400vw; */
  height: 20vh;
  background: lightblue;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  left: -100vw;
  /* transform: translatex(100vw) */
  /* top: 0; */
  /* left: -400vw; */
  position: relative;
  z-index: -1;
  /* top: 0 */
  animation: right var(--animation-duration) ease forwards;
}

.line2 {
  /* width: 400vw; */
  height: 20vh;
  background: lightgreen;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  right: -100vw;
  /* top: 0vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -10;
  animation: left var(--animation-duration) ease 250ms forwards;
}

.line3 {
  /* width: 400vw; */
  height: 20vh;
  background: khaki;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  left: -100vw;
  /* bottom: 0vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -1;
  animation: right var(--animation-duration) ease 500ms forwards;
}
.line4 {
  /* width: 400vw; */
  height: 20vh;
  background: lightpink;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  right: -100vw;
  /* bottom: -60vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -1;
  animation: left var(--animation-duration) ease 750ms forwards;
}
.line5 {
  /* width: 400vw; */
  height: 20vh;
  background: plum;

  /* border-bottom: 50px solid red; */
  /* transform: rotate(45deg); */
  /* border-radius: 50px; */
  left: -100vw;
  /* bottom: 0vh; */
  /* bottom: 20px; */
  position: relative;
  z-index: -1;
  animation: right var(--animation-duration) ease 1000ms forwards;
}

.line6 {
  height: 5vh;
  opacity: 0.25;
  right: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -20vh;
  animation: left 4500ms 3s infinite alternate;
  z-index: 0;
}

.line7 {
  height: 5vh;
  opacity: 0.5;
  left: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -40vh;
  animation: right 4000ms 3s infinite alternate;
  z-index: 0;
}

.line8 {
  height: 5vh;
  opacity: 0.25;
  right: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -60vh;
  animation: left 6000ms 3s infinite alternate;
  z-index: 0;
}

.line9 {
  height: 5vh;
  opacity: 0.75;
  left: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -80vh;
  animation: right 5500ms 3s infinite alternate;
  z-index: 0;
}

.line10 {
  height: 5vh;
  opacity: 0.25;
  left: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -100vh;
  animation: right 7000ms 3s infinite alternate;
  z-index: 0;
}

.line11 {
  height: 5vh;
  opacity: 0.25;
  right: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -120vh;
  animation: left 6000ms 3s infinite alternate;
  z-index: 0;
}

.line6f {
  height: 5vh;
  opacity: 0.25;
  right: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -20vh;
  animation: left 4500ms 2s infinite alternate;
  z-index: 0;
}

.line7f {
  height: 5vh;
  opacity: 0.5;
  left: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -40vh;
  animation: right 4000ms 2s infinite alternate;
  z-index: 0;
}

.line8f {
  height: 5vh;
  opacity: 0.25;
  right: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -60vh;
  animation: left 6000ms 2s infinite alternate;
  z-index: 0;
}

.line9f {
  height: 5vh;
  opacity: 0.75;
  left: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -80vh;
  animation: right 5500ms 2s infinite alternate;
  z-index: 0;
}

.line10f {
  height: 5vh;
  opacity: 0.25;
  left: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -100vh;
  animation: right 7000ms 2s infinite alternate;
  z-index: 0;
}

.line11f {
  height: 5vh;
  opacity: 0.25;
  right: -100vw;
  border-radius: 50px;
  position: relative;
  background: white;
  top: -120vh;
  animation: left 6000ms 2s infinite alternate;
  z-index: 0;
}

.transition {
  animation: fadeDown 2000ms;
}

@keyframes up {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes down {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  /* 0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  } */
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  /* 99% {
    opacity: 0;
  } */
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(100%);
  }
  /* 99% {
        opacity: 0;
      } */
  100% {
    transform: translateY(0%);
  }
}

@keyframes right {
  0% {
    transform: translatex(0vw);
  }
  /* 50%      { transform: translatex(20px) translatey(20px); } */
  /* 50% {
    transform: translatex(100vw);
  } */
  100% {
    transform: translatex(100vw);
    /* transform: translatey(100vh); */
  }
}

@keyframes left {
  0% {
    transform: translatex(0vw);
  }
  /* 50%      { transform: translatex(20px) translatey(20px); } */
  /* 50% {
    transform: translatex(-100vw);
  } */
  100% {
    transform: translatex(-100vw);
    /* transform: translatey(100vh); */
  }
}

@keyframes borderWipe {
  0% {
    border: 10px solid tranparent;
    background: transparent;
    /* transform: translatex(-20px); */
  }
  /* 99% {
      opacity: 0;
    } */
  100% {
    border: 12px solid white;
    background: white;
    /* transform: translatex(0px); */
  }
}
