/* 
    TODO: animations that vertically load in lines 
    of various lengths with different colors on load in
    to home page... possibly lines going down with a 
    randomized alpha 

    TODO: Make navbar nicer, possibly fixed on top

    TODO: make store page usable

    TODO: page animation transitions -> diagonal lines of 
    various lengths

    TODO: change fonts and make the website prettier
*/
.row {
  display: flex;
  /* height: auto; */
  width: 60vw;
  /* justify-content: center; */
  margin: 0 auto;
  overflow: visible;
  border: 5px dashed #f7a239;
  /* padding: 50px; */

  /* display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 100px);   */
}

.title {
  text-align: center;
  padding: 20px;
}

.body {
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
  /* position: relative; */
  /* padding: 0 0 150px; */
}

.body header {
  padding: 20px;
}

.column {
  display: flex;
  object-fit: cover;
  cursor: pointer;
  /* border: 5px dashed #f7a239; */
}

.img {
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */

  border: 5px dashed rgba(114, 186, 94, 0.35);
  /* height: 100vh; */
  background-color: rgba(114, 186, 94, 0.05);
}
.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.txtcontainer {
  border: 5px dashed rgba(114, 186, 94, 0.35);
  align-self: flex-start;
  margin-right: auto;
  /* justify-content: space-between; */
}

.stick {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  width: 25vw;
  height: 25vh;
  border: 5px dashed rgba(114, 186, 94, 0.35);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 20px;
  max-width: 75vw;
  margin: auto;
  /* height: -100px; */
  /* position: sticky;
    position: -webkit-sticky; */
  /* position: fixed; */
  /* top: 0; */
  /* display: flex; */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  /* display: inline; */
}

.footer-pic {
  padding: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover,
.footer-nav:hover,
.footer_pic:hover,
.dropbtn {
  background-color: purple;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content #mio:hover {
  background-color: lightskyblue;
}

.dropdown-content #ritsu:hover {
  background-color: lightgreen;
}

.dropdown-content #mugi:hover {
  background-color: khaki;
}

.dropdown-content #azusa:hover {
  background-color: lightpink;
}

.dropdown-content #yui:hover {
  background-color: plum;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: pink;
}

.logo {
  /* height: auto; */
  /* width: auto; */
  max-height: 20;
  max-width: 20;
  /* float: left; */
}

/* .band-name {

} */

.main-footer {
  background-color: pink;
  color: white;
  /* max-height: 75px; */
  /* padding: 0.25em 0; */
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.hidden {
  opacity: 0;
}
