.row {
    display: flex;
    /* height: auto; */
    width: 75vw;
    /* justify-content: center; */
    margin: 0 auto;
    overflow: visible;
    border: 5px dashed #f7a239;
    
    /* display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 100px);   */
}

.title {
    text-align: center;
}

.column {
    display: flex;
    object-fit: cover;
}

.img {
    height: auto;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */

  
    border: 5px dashed rgba(114, 186, 94, 0.35);
    /* height: 100vh; */
    background-color: rgba(114, 186, 94, 0.05);
}
.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.20); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.txtcontainer {
    border: 5px dashed rgba(114, 186, 94, 0.35);
    align-self: flex-start;
    margin-right: auto;
    /* justify-content: space-between; */
}

.stick {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    align-self: flex-end;
    width: 25vw;
    height: 25vh;
    border: 5px dashed rgba(114, 186, 94, 0.35);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    /* position: sticky;
    position: -webkit-sticky; */
    /* position: fixed; */
    /* top: 0; */
    /* display: flex; */
}
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  .dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
  }


